
body {

  /* altura mínima ocupando toda a tela */
  min-height: 100vh;

  /* layout em coluna */
  display: flex;
  flex-direction: column;

  /* necessário para elementos absolutos internos */
  position: relative;

  /* evita barra horizontal causada por animações */
  overflow-x: hidden;


  /* =========================
     FUNDO PRINCIPAL
  ========================= */

  background:

    /* imagem principal do fundo */
    url("../../../img/index/bg.png");


  /* faz a imagem cobrir toda a tela */
  background-size: cover;

  /* centraliza a imagem */
  background-position: center;

  /* impede repetição da imagem */
  background-repeat: no-repeat;

  /* cria efeito "parallax"
     fundo fica parado ao rolar */
  background-attachment: fixed;


  /* mistura a camada azul com a imagem
     deixando brilhos e chuva mais visíveis */
  background-blend-mode: lighten;

  /* aumenta levemente o brilho geral */
  filter: brightness(1.08);


  /* cor padrão dos textos */
  color: var(--text-main);
}


