/* Importa fonte  */
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');

/* ===== RESET GLOBAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Remove bordas padrão de inputs e botões */
button, input {
  border: none;
  outline: none;
}
