/* =========================================================
   ANIMAÇÃO FLOAT
========================================================= */

@keyframes floating {

  0% {
    transform:
      translateY(0px);
  }

  50% {
    transform:
      translateY(-6px);
  }

  100% {
    transform:
      translateY(0px);
  }
}


/* =========================================================
   ANIMAÇÃO FADE
========================================================= */

@keyframes fadeIn {

  from {

    opacity: 0;

    transform:
      translateY(10px);
  }

  to {

    opacity: 1;

    transform:
      translateY(0);
  }
}
@keyframes twinkle {
  0%, 100% { opacity: 0.3; transform: scale(0.9); }
  50% { opacity: 0.9; transform: scale(1.1); }
}

/* Faz com que cada estrela comece a brilhar em tempos diferentes */
.pos-star-1 { animation-delay: 0s; }
.pos-star-2 { animation-delay: 1s; }
.pos-star-3 { animation-delay: 2.5s; }
.pos-star-4 { animation-delay: 1.5s; }
.pos-star-5 { animation-delay: 0.5s; }
.pos-star-6 { animation-delay: 2s; }
.pos-star-7 { animation-delay: 1s; }
.pos-star-8 { animation-delay: 3s; }
.pos-star-9 { animation-delay: 0.5s; }
.pos-star-10 { animation-delay: 2.5s; }